  <h1>Regimen</h1>
  <ng-container *ngIf="showSignUp; else logIn">
    <form 
      #signUpForm="ngForm"
      class="sign-up" 
      (ngSubmit)="signUp($event, signUpForm)"
    >
      <h2>Sign up</h2>
      <div class="input-container">
        <label for="email" class="input-label">Email</label>
        <input 
          type="email" 
          class="input" 
          id="email" 
          name="email" 
          [(ngModel)]="email"
          #emailModel="ngModel"
          email
          required
        />
        <p 
          class="validation-msg"
          *ngIf="emailModel.invalid && emailModel.dirty"
        >
          Please enter a valid email address.
        </p>
      </div>
      <div class="input-container">
        <label for="password" class="input-label">Password</label>
        <input 
          type="password" 
          class="input input--password" 
          id="password" 
          name="password"
          [(ngModel)]="pass"
          #passModel="ngModel"
          required
        />
        <p 
          class="validation-msg"
          *ngIf="passModel.invalid && passModel.dirty"
        >
          Please enter a password.
        </p>
      </div>
      <div class="input-container">
        <label for="password-match" class="input-label">Retype Password</label>
        <input 
          type="password" 
          class="input input--password" 
          id="password-match" 
          name="password-match"
          [(ngModel)]="confirmPass"
          #confirmModel="ngModel"
          match="password"
          required
        />
        <p 
          class="validation-msg"
          *ngIf="confirmModel.invalid && confirmModel.dirty"
         >
          Please re-type your password.
        </p>
      </div>
      <div class="input-container">
        <button 
          class="button button--primary"
        >Sign up</button>
        <a 
          href="#" 
          (click)="$event.preventDefault(); showSignUp=false"
          class="button button--link"
        >
          Log in
        </a>
      </div>
      <p>{{errorMessage}}</p>
    </form>
  </ng-container>

  <ng-template #logIn>
    <form 
      class="log-in"
      #logInForm="ngForm"
      (ngSubmit)="doLogIn($event, logInForm)"
    >
      <h2>Sign in</h2>
      <div class="input-container">
        <label for="email" class="input-label">Email</label>
        <input 
          type="email" 
          class="input" 
          id="email" 
          name="email" 
          [(ngModel)]="email"
          #loginEmailModel="ngModel"
          email
          required
        />
        <p 
          class="validation-msg"
          *ngIf="loginEmailModel.invalid && loginEmailModel.dirty"
        >
          Please enter your email address.
        </p>
      </div>
      <div class="input-container">
        <label for="password" class="input-label">Password</label>
        <input 
          type="password" 
          class="input input--password" 
          id="password" 
          name="password"
          [(ngModel)]="pass"
          #loginPassModel="ngModel"
          required
        />
        <p 
          class="validation-msg"
          *ngIf="loginPassModel.invalid && loginPassModel.dirty"
        >
          Please enter your password.
        </p>
      </div>
      <div class="input-container">
        <button 
          class="button button--primary"
        >Log in</button>
        <a 
          (click)="$event.preventDefault(); showSignUp=true"
          href="#" 
          class="button button--link"
        >
          Sign up
        </a>
      </div>
      <p>{{errorMessage}}</p>
    </form>
  </ng-template>