// Stonehaven
// https://color.adobe.com/Stonehaven-color-theme-430169/
$color-light: #F6F4EA;
$color-dark: #353230;
$color-primary-dark: #3F4E51;
$color-primary-light: #99B2BE;
$color-secondary: #7B8F70;

$color-bg: #fff;

$color-text: $color-dark;
$color-text-light: #666;

$color-error: tomato;

$border-radius: 0.5rem;