<h2>Privacy</h2>

<p><em>This privacy statement is in development. Please direct any questions to <a href="mailto:dave.riedstra@gmail.com">dave.riedstra@gmail.com</a>.</em></p>

<p>Regimen is an open-source web application. The source code can be found <a href="http://github.com/daveriedstra/regimen" target="_blank" rel="noopener noreferrer">here</a>. Regimen and its services are provided for free and are intended for use as-is.</p>

<p>Regimen stores its data using Firebase, a Google product. You are invited to review Firebase's privacy information <a href="https://firebase.google.com/support/privacy/" target="_blank" rel="noopener noreferrer">here</a>. Specifically, Regimen uses a Cloud Firestore database located in the United States and the Regimen website is served from Firebase.</p>

<p>Regimen does not collect any information other than what you explicitly provide it. Your consent to use this information is inferred from your act of providing it to the application. The developer does not use or share your information with anyone.</p>

<p>Regimen does not explicitly set any cookies, use analytics or tracking, collect your IP address, or log your location. However, its third-party Firebase code sometimes does and you are advised to refer to <a href="https://firebase.google.com/support/privacy/" target="_blank" rel="noopener noreferrer">Firebase's privacy information</a>.</p>

<h3>Links to Other Sites</h3>

<p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, we strongly advise you to review the Privacy Policy of these websites. Regimen has no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h3>Children’s Privacy</h3>

<p>These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. In the case I discover that a child under 13 has provided me with personal information, I immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact me so that I will be able to do necessary actions.</p>

<h3>Changes to this Privacy Policy</h3>

<p>I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>