<form 
  #form="ngForm"
  (ngSubmit)="$event.preventDefault(); addEntry(form);"
>
  <h2>New Entry</h2>
  <div class="date">
    <input 
      class="input input--date"
      type="date"
      [value]="entry.date | date: 'yyyy-MM-dd'"
      (input)="entry.date = $event.target.valueAsDate"
      id="date"
      name="date"
    />
  </div>

  <!-- Duration -->
  <div class="input-container input-container--multi">
    <label 
      class="input-label"
    >Duration</label>
    <input 
      type="number" 
      class="input input--number" 
      id="duration-hr" 
      name="duration-hr" 
      [(ngModel)]="hours"
      min="0"
      max="24"
    />
    <label 
      for="duration-hr" 
      class="input-label input-label--inline"
    >Hr</label>
    <input 
      type="number" 
      class="input input--number" 
      id="duration-min" 
      name="duration-min" 
      [(ngModel)]="mins"
      min="0"
      max="59"
    />
    <label 
      for="duration-mins" 
      class="input-label input-label--inline"
    >Min</label>
  </div>

  <!-- Description -->
  <div class="input-container">
    <label 
      for="description" 
      class="input-label"
    >Description</label>
    <textarea 
      name="description" 
      id="description" 
      class="input input-textarea"
      [(ngModel)]="entry.description"
    ></textarea>
  </div>

  <!-- Notes -->
  <div class="input-container">
    <label 
      for="notes" 
      class="input-label"
    >Notes for next time</label>
    <textarea 
      name="notes" 
      id="notes" 
      class="input input-textarea"
      [(ngModel)]="entry.note"
    ></textarea>
  </div>

  <!-- Submit -->
  <div class="input-container input-container--multi input-container--callout input-container--centered">
    <button
      class="button button--primary" 
      value="submit"
      [disabled]="form.invalid"
    >Add Entry</button>
    <a 
      (click)="back($event)"
      href="#" 
      class="button"
    >Cancel</a>
  </div>
</form>