<div class="note">
  <ng-container *ngIf="lastEntry; else noentry">
    <h2 class="note__intro">Last time, you said</h2>
    <div 
      class="note__content"
      [innerHtml]="lastEntry.note | newline"
    ></div>
    <p class="note__date">From <time>{{lastEntry.date | date}}</time></p>
  </ng-container>

  <ng-template #noentry>
    <h2 class="note__intro">Welcome!</h2>
    <p class="note__placeholder">
      Click the <strong>Add Entry</strong> button below to add your first entry.
    </p>
  </ng-template>
</div>

<div class="add callout">
  <a 
    routerLink="/new-entry"
    class="button button--primary"
  >Add Entry</a>
</div>

<div class="overview">
  <calendar-heatmap
    *ngIf="overviewData?.length > 0"
    [data]="overviewData"
    overview="month"
    color="#3F4E51"
  ></calendar-heatmap>
</div>