@import "../vars.scss";

.note__content {
  border: thin solid $border-color;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #666;
}

.overview {
  // height: 10rem;
}

.add {
  padding: 3rem 0 6rem;
  text-align: center
}

.bottom-link {
  height: 2rem;
}