<div class="note">
  <ng-container *ngIf="lastEntry; else noentry">
    <p class="note__intro">Last time, you said</p>
    <div class="note__content">
      {{lastEntry.note}}
    </div>
    <p class="note__date">From <time>{{lastEntry.date | date}}</time></p>
  </ng-container>

  <ng-template #noentry>
    <p class="note__intro">Welcome!</p>
    <p class="note__placeholder">
      Click the <strong>Add Entry</strong> button below to add your first entry.
    </p>
  </ng-template>
</div>

<div class="overview">
  <pre>( overview widget will go here )</pre>
</div>

<div class="add">
  <p><a routerLink="/new-entry">Add Entry</a></p>
</div>

<div class="bottom-link">
  <p><a routerLink="/preferences">Preferences</a></p>
</div>