@import "../vars.scss";

.note__content {
  border: thin solid $border-color;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #666;
}

.overview {
  margin-top: 6rem;
}

.bottom-link {
  height: 2rem;
}