<div class="note">
  <ng-container *ngIf="stagedDateEntries; else noentry">
    <app-date-entries
      [dateEntries]="stagedDateEntries"
    ></app-date-entries>
  </ng-container>

  <ng-template #noentry>
    <h2 class="note__intro">Welcome!</h2>
    <p class="note__placeholder">
      Click the <strong>Add Entry</strong> button below to add your first entry.
    </p>
  </ng-template>
</div>

<div class="overview">
  <app-visualizer
    *ngIf="overviewData"
    [data]="overviewData"
    (dateSelected)="onDateSelected($event)"
    (prevMonth)="onMonthChange($event)"
    (nextMonth)="onMonthChange($event)"
  ></app-visualizer>
</div>